<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FabProgram"
        tools:targetApi="31">
        <activity
            android:name=".St_Final"
            android:exported="false" />
        <activity
            android:name=".OOP"
            android:exported="false" />
        <activity
            android:name=".Extras"
            android:exported="false" />
        <activity
            android:name=".Array"
            android:exported="false" />
        <activity
            android:name=".Functions"
            android:exported="false" />
        <activity
            android:name=".Loops"
            android:exported="false" />
        <activity
            android:name=".Conditions"
            android:exported="false" />
        <activity
            android:name=".DataType"
            android:exported="false" />
        <activity
            android:name=".Basic"
            android:exported="false" />
        <activity
            android:name=".Basic_To_Advance"
            android:exported="false" />
        <activity
            android:name=".Program_Home"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".WrongActivity"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".RightActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionCollection"
            android:exported="false" />
        <activity
            android:name=".Plash_Screen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_APP_ID" />
    </application>

</manifest>